<!DOCTYPE html>
<html>
<head>
    <title>Generator Podpisów do Zdjęć</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Generator Podpisów do Zdjęć</h1>
    <form id="imageForm" enctype="multipart/form-data">
        <select name="switch" id="switch" onchange="updateMode()">
            <option value="description">Opis</option>
            <option value="caption">Podpis</option>
        </select>
        <input type="hidden" name="mode" id="mode" value="description">
        <input type="submit" value="Generuj Opis" id="submitBtn">
        <br>
        <input type="file" name="image" id="image" required onchange="previewImage();">
    </form>
    <div class="image-preview" id="imagePreview">
        <img src="" alt="Podgląd obrazu" style="display: none;" id="imageDisplay">
    </div>
    <div class="description" style="display: none;">
        <h2 id="descriptionHeader">Opis Obrazu:</h2>
        <p id="descriptionText"></p>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>